.new
{
    background: -webkit-linear-gradient(left,#D63F6D,#E79149);
    width:100%;
    height:100%;
}

.container
{
  
    display: flex;
    justify-content: center;
}
.content
{
    border:1px solid black;
    background-color: rgb(173, 171, 171);
    width:30%;
    margin-top:70px;
    margin-bottom: 200px;
}
h2
{
    text-align: center;
    padding-top: 10px;
}
form{
    text-align: center;
    margin-top:10px;
}
.form-control
{
    padding: 10px 50px;
}
.form-control:focus
{
    border:2px solid blue;
    outline: none;
}
::placeholder
{
    text-align: center;
    
}
button{
    margin-bottom:20px;
    padding: 10px 30px;
    font-size:16px;
    font-weight: 400;
}
button:hover{
    background-color:yellow;
    color:black;
    border:none;
 font-weight: bold;
}
