<div class="container">
    <div class="content">
        <h2 class="sub-content">Instructors</h2>
    </div>
<div class="main">
    <h2 class="sub-main">About Day2Day Instructors</h2>
    <p class="para">Day2Day's mentors are well experienced in the field of software engineering. They are here to help you create, communicate and preserve knowledge while developing leaders who will challenge the present to enrich our future.</p>
</div>
<div class="back">
    <div class="firston">
<h3 class="sub-firston">Our Expertise</h3>
<p class="para1">Day2Day is the perfect opportunity for individuals of any age group to get personalized training and acquire software development knowledge from experienced mentors.</p>
    </div>
    <div class="secondon">
<h3 class="sub-firston">Our Experience</h3>
<p class="para1">
    At Day2Day, we believe that everyone should have the opportunity to learn software development. We offer personalized training from experienced mentors, so you can gain the skills you need to succeed in today's tech-driven world.</p>
</div>
    <div class="thirdon">
<h3 class="sub-firston">Why Day2Day</h3>
<p class="para1">Day2Day's online learning platform provides students with a seamless and interactive experience, providing them ample opportunities to study without having an excuse. We make learning to code easy and fun.</p>
    </div>
</div>


















</div>
