<div class="banner">
    <img src="assets/nat.jpg" />
</div>
<div class="middle">
<h2 class="sub">Our Featured Courses</h2>
<p class="sub-head">We Help You Gain Expert Knowledge And Build A Successful Career</p>
<div class="sub-middle">
<div class="first">
<h5 class="first-head">UI/UX Design Maestro</h5>
<p class="first-subhead">Learn the skills you need to succeed in the competitive world of user experience design.</p>
</div>
<div class="second">
    <h5 class="first-head">Front End Super Star</h5>
    <p class="first-subhead">Learn the advanced front-end technologies such as Angular JS, React JS, and other javascript frameworks.</p>
</div>
<div class="third">
    <h5 class="first-head">Back End Alchemist</h5>
    <p class="first-subhead">Learn how to connect the database with your interface with our back-end development course.</p>
</div>
<div class="fourth">
    <h5 class="first-head">Full Stack Tech Wizard</h5>
    <p class="first-subhead">Learn the front-end and back-end development to become a full-stack developer.</p>
</div>
</div>
</div>
<div class="follow">
    <div class="one">
   <h2 class="logo">DAY2DAY</h2>
   <p class="logo-sub">Great lesson ideas and lesson plans for ESL teachers! Educators can customize lesson plans to best.</p>
    </div>

    <div class="two">
<h5 class="two-sub">Contact Us</h5>
<p class="two-subhead">3/75, N.J Nagar, Nanjiyampalayam Post, Dharapuram-638657, Tiruppur, Tamil Nadu 641028.</p>
    </div>
    <div class="three">
        <h5 class="three-sub">Mail Us</h5>
        <p class="three-subhead">mathansin53@gmail.com</p>
</div>

</div>



<div class="footer">
    <p>Copyright @ DAY2DAY / Designed By MATHAN53</p>
</div>